.my-btn {
	align-self: flex-end;
	padding: 15px 25px;
	border-radius: 8px;
	border: none;
	background-color: wheat;
	font-size: 18px;
	line-height: 100%;
	cursor: pointer;
}

.my-btn:hover {
	background-color: orange;
	color: #fff;
}