.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 15px;
	width: 100%;
	min-width: 290px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 16px;
	color: wheat;
}
.login-title {
	line-height: 100%;
	margin-bottom: 30px;
}

.login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

